.powerCounter {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.powerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
}

.power {
	display: flex;
	align-items: center;
}
