.fontBarcadeBrawlRegular {
	font-family: 'BarcadeBrawlRegular', sans-serif;
}

.fontRoboto {
	font-family: 'Roboto', Arial, sans-serif;
}

.accent {
	color: #ffb800;
}

.alignCenter {
	text-align: center;
}
