.frame {
	margin: 20px 10px;
	background-color: #1d1e20;
	border: 1px solid #35332e;
	border-radius: 10px;
	display: grid;
}

.separator {
	margin: 10px 0;
	background-color: #35332e;
}

.coins {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	color: #ffb800;
}

.marginHorizontal {
	margin: 0 auto;
}

.tickets {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
}
