.footer {
	width: 100%;
}

.pageContainer {
	flex-grow: 1;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.page {
	height: 100%;
	width: 100%;
}

.border {
	border: solid 1px #35332e;
}

.navigation {
	display: grid;
	grid-template-columns: 1fr 71px 1fr;
	padding: 10px 15px 20px;
	align-items: center;
	--bgColor: #141517;
}

.navigationDisabled {
	opacity: 45%;
	pointer-events: none;
}

.navigation a {
	text-decoration: none;
}

.nav {
	height: 53px;
	padding: 8px;
	display: flex;
	gap: 5px;
	justify-content: space-evenly;
}

.navLeft {
	background: linear-gradient(to right, #232323, var(--bgColor));
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.navRight {
	background: linear-gradient(to left, #232323, var(--bgColor));
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.centralNav {
	height: 71px;
	border-radius: 10px;
	background-color: var(--bgColor);
}

.delimiter {
	height: 100%;
	width: 1px;
	background-color: #35332e;
}

.navBtn {
	user-select: none;
	cursor: pointer;
	isolation: isolate;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	position: relative;
}

.btnImg {
	filter: drop-shadow(5px, 5px, #0b0c0e);
	width: 20px;
	margin: 0 auto;
}

.rotateRight {
	transform: rotate(15deg);
}

.rotateLeft {
	transform: rotate(-15deg);
}

.notice {
	position: absolute;
	top: -20px;
}

.routerLink {
	color: #4e4f4f;
}

.activeLink {
	color: #ffb800;
}

.shimmer {
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.25) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		var(--bgColor);
	background-size: 200% 100%;
	background-position-x: 170%;
	animation: 2.4s shimmer ease-in-out infinite;
}

@keyframes shimmer {
	50% {
		background-position-x: 170%;
	}

	100% {
		background-position-x: -30%;
	}
}
