.progressBar {
	position: relative;
	overflow: hidden;
	border-radius: var(--fillerRadius);
	width: 100%;
	display: grid;
	height: var(--fillerHeight);
}

.progressBarBorder {
	position: relative;
	overflow: hidden;
	border-radius: var(--borderRadius);
	width: 100%;
	background-color: #141517;
}

.progressBarBorder::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: var(--borderStyle);
	border-radius: var(--borderRadius);
}

.segment {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.roundSegment {
	border-radius: var(--fillerRadius);
}

.filler {
	transition: width 0.2s ease-in-out;
	border-radius: var(--fillerRadius);
}

.counter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
