.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid transparent;
	color: var(--textColor);
	background: var(--bgColor);
	cursor: pointer;
}

.button[disabled] {
	cursor: default;
}

.fontBarcadeBrawlRegular {
	font-family: 'BarcadeBrawlRegular', sans-serif;
}

.fontRoboto {
	font-family: 'Roboto', Arial, sans-serif;
}

.sizeSm {
	padding: 5px 15px;
	height: 28px;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
}

.sizeMd {
	padding: 7px 15px;
	height: 30px;
}

.sizeLg {
	padding: 15px 15px;
	height: 46px;
}

.modPrimary {
	--textColor: #141517;
	--bgColor: #ffb800;
	--shimmerColor: rgba(255, 255, 255, 0.8);
}

.modPrimary[disabled] {
	--textColor: #141517;
	--bgColor: #4e4f4f;
	--shimmerColor: rgba(255, 255, 255, 0);
}

.modSecondary {
	--textColor: #797979;
	--bgColor: #1d1e20;
	--shimmerColor: rgba(255, 255, 255, 0.1);
}

.modSecondary[disabled] {
	--textColor: #4e4f4f;
	--bgColor: #1d1e20;
	--shimmerColor: rgba(255, 255, 255, 0);
}

.modInverse {
	--textColor: #ffb800;
	--bgColor: #1d1e20;
	--shimmerColor: rgba(255, 255, 255, 0.1);
}

.modInverse[disabled] {
	--textColor: #4e4f4f;
	--bgColor: #1d1e20;
	--shimmerColor: rgba(255, 255, 255, 0);
}

.leftIcon {
	max-height: 1em;
	display: flex;
	align-self: center;
	fill: currentColor;
}

.bordered {
	border-color: #35332e;
}

.onlyIcon {
	aspect-ratio: 1/1;
	padding: 4px;
}

.loader {
	margin: auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}

.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-radius: 50%;
	border: calc(1em / 4) solid currentColor;
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

.shimmer {
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			var(--shimmerColor) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		var(--bgColor);
	background-size: 200% 100%;
	background-position-x: 170%;
	animation: 2.4s shimmer ease-in-out infinite;
}

@keyframes shimmer {
	50% {
		background-position-x: 170%;
	}

	100% {
		background-position-x: -30%;
	}
}
