.button {
	display: flex;
	justify-content: center;
	gap: 6px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 16px;
	border: none;
	background: none;
	cursor: pointer;
}

.button[disabled] {
	cursor: default;
}

.fontBarcadeBrawlRegular {
	font-family: 'BarcadeBrawlRegular';
}

.fontRoboto {
	font-family: 'Roboto';
}

.sizeSm {
	padding: 5px 15px;
	height: 28px;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
}

.sizeMd {
	padding: 7px 15px;
	height: 30px;
}

.sizeLg {
	padding: 15px 15px;
	height: 46px;
}

.modPrimary {
	color: #141517;
	background-color: #ffb800;
}

.modSecondary {
	color: #4e4f4f;
	background-color: #1d1e20;
}

.modInverse {
	color: #ffb800;
	background-color: #1d1e20;
}

.leftIcon {
	max-height: 1em;
	display: flex;
	align-self: center;
	fill: currentColor;
}

.loader {
	margin: auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}

.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-radius: 50%;
	border: calc(1em / 4) solid currentColor;
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
