.wrapper {
	padding: 5px 5px 10px;
	border-bottom: 1px solid #35332e;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
}

.username {
	color: #f0f0f0;
	grid-column: 1 / -1;
}

.bonus {
	display: flex;
	align-items: center;
	margin: 0;
	color: #cbcbcb;
	gap: 4px;
	justify-self: end;
}
