.energyWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

.energy {
	display: flex;
	align-items: center;
}

.counter {
	display: flex;
	align-items: center;
	gap: 4px;
}

.separator {
	width: 1px;
	height: 1em;
	background-color: #35332e;
}
