*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #141517;
}

html {
	overscroll-behavior: none;
	overflow: hidden;
}
