*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: var(--tg-viewport-stable-height);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
