@import './base.css';
@import './roboto.css';

@font-face {
	font-family: 'BarcadeBrawlRegular';
	src: local('BarcadeBrawlRegular'), url('./fonts/BarcadeBrawlRegular/BarcadeBrawlRegular.woff');
}

#app {
	font-family: 'Roboto';
	color: #cbcbcb;
	width: 100vw;
	height: 100vh;
	font-weight: normal;
}
