@import './base.css';
@import './roboto.css';

@font-face {
	font-family: 'BarcadeBrawlRegular';
	src: local('BarcadeBrawlRegular'), url('./fonts/BarcadeBrawlRegular/BarcadeBrawlRegular.woff');
}

#app {
	font-family: 'Roboto';
	color: #cbcbcb;
	max-width: 100vw;
	height: var(--tg-viewport-height);
	font-weight: normal;
}
