@import './base.css';

@font-face {
	font-family: "BarcadeBrawlRegular";
	src: local("BarcadeBrawlRegular"),
	url('./fonts/BarcadeBrawlRegular/BarcadeBrawlRegular.ttf');
}

#app {
	width: 100vw;
	height: 100vh;
	font-weight: normal;
}
