.playerInventory {
	padding: 10px;
	background-color: #232323;
	border: 1px solid #35332e;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2, 1fr) 1px 1fr 28px 1px repeat(2, 1fr);
	grid-template-rows: min-content 28px;
	gap: 10px;
	width: 100%;
}

.avatarWrapper {
	position: relative;
	width: 100%;
	grid-column: span 2;
	grid-row: span 2;
}

.premIcon {
	position: absolute;
	top: 7px;
	left: 8px;
	color: #232323;
}

.playerAvatar {
	border-radius: 6px;
	border: 1px solid #ffb800;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.separator {
	width: 1px;
	height: 100%;
	background-color: #35332e;
	grid-row: span 2;
}

.items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content 28px;
	grid-column: span 2;
	grid-row: span 2;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 4px;
	justify-content: center;
	align-items: center;
	background-color: #141517;
	border: 1px solid #35332e;
	border-radius: 4px;
	color: #232323;
	min-width: 34px;
	aspect-ratio: 1;
}

.button {
	grid-column: span 2;
}
