.title {
	text-align: center;
}

.titleFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	display: grid;
	grid-template-rows: min-content min-content;
	text-align: center;
	gap: 8px;
	height: 100%;
}

.steps {
	margin: 0;
	font-family: 'BarcadeBrawlRegular';
	font-size: 16px;
	line-height: 16px;
	color: #4e4f4f;
	align-self: center;
}

.yellow {
	color: #ffb800;
}

.icon {
	width: 1em;
	height: 1em;
}
