.app {
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	height: 100dvh;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	background-color: #141517;
	overflow-y: auto;
	background: url('/images/bg-halloween.webp') center/cover no-repeat;
}
