.lootboxes {
	width: 100vw;
	overflow-x: hidden;
}

.item {
	width: 75px;
	height: 75px;
	border-radius: 12px;
	border: 1px solid white;
	position: relative;
}
.item img {
	max-width: 100%;
	max-height: 100%;
}

.boxesWrapper {
	min-width: 320px;
	width: 100%;
	display: flex;
	position: relative;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	border-top: 2px solid #FFB800;
	border-bottom: 2px solid #FFB800;
}

.boxesWrapper:before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: calc(50% - 10px);
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #FFB800 transparent;
}

.boxesWrapper:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: calc(50% - 10px);
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #FFB800 transparent transparent transparent;
}

.itemsWrapper {
	display: flex;
	gap: 5px;
}
